.LandingPageContainer h1{
    position: absolute;
    left: 52%;
    color:#1E1E30;
    transform: translate(-50%, -45vh);
    animation: switchColor 0.8s 1s forwards ease-in-out;
}

@keyframes switchColor {
    0% {
        color: #1E1E30
    }
    100% {
        color: #ffffff;
        z-index: 10;
    }
}