.WorkBg{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.PortBox {
	text-align: center;
	font-size: 2em;
	width: 40%;
	padding: 2.5em 0;
	margin: 2.5%;
	color: rgba(255, 255, 255, 0);
	z-index: 10;
}

.PortBox:hover {
	border: none;
	animation: boxFade 0.3s forwards;
}

@keyframes boxFade {
	0%{

	}
	100%{
		background: rgba(30, 30, 48, 0.753);
		color: #ffffff;
	}
}